
.first{
    
    width: 144px;
    margin-left: -20px;
    height: 24px;
}
.middle{
    margin-left: -26px;
    
    width: 150px;
  
    height: 24px;
}
.end{
    
    margin-left: -26px;
    width: 144px;
    height: 24px;
}
.single{
    width: 138px;
    margin-left: -20px;
    height: 24px;
  
   
}