
.first{
    width: 49px;
    margin-left: -10px;
    
    z-index: 10;
    overflow: "visible"!important ;
   
   

}
.middle{
    margin-left: -13px;
    width: 54px;
    
    
    
    

}
.truncate{
    width: 50px;
    margin-left: -10px;
    
    z-index: 10;
   
}
.end{
    margin-left: -13.5px;
    width: 46px;
    
    
    

}
.single{
    width: 44px;
    margin-left: -10px;
    overflow: "hidden";
    
    
    
    

}