
.first{
    border-right-color: "#ffffff";
    width: 150px;
    margin-left: -26px;
}
.middle{
    margin-left: -26px;
    overflow: "hidden";
    border-radius: "0" !important;
    width: 150px;
    border-left-color: "#fafafa" !important;
}
.end{
    border-left-color: "#fffffff";
    margin-left: -26px;
    width: 150px;
}
.single{
    width: 150px;
    margin-left: -26px;
    overflow: "hidden";
    border-radius: "0" !important;
   
}